# -*- mode: ruby -*-
# vi: set ft=ruby :
MANAGER_HOSTNAME = 'api.dague.pvt'
COMPUTE1_HOSTNAME = 'compute1.dague.pvt'
STACK_PASS = 'somebiglongLinuxpasswordhash'
STACK_SSHKEY = 'the_ssh_public_key_you_want_for_your_stack_user'

BRIDGE_INT = 'eth1'

# if you have built a local box that works to boot with, you can use that
# instead
# BOX_URL = "http://gallifrey/vagrant/devstack-2014-02-19.box"

# if you want to add your local devstack tree into the environments, use
# this
# LOCAL_OPENSTACK_TREE = '/home/sdague/code/openstack'
